.header {
    background-color: white;
    width: 100%;
    height: 4%;   
}

.header h1 {
    font-family: "AlexBrush", sans-serif;
    margin-left: 391px;
    margin-top: 19px;
    font-size: 35px;
    color: #616161;
    display: inline-block;
}

.menu_nav {
    display: inline-block;
    margin-left: 35%;
}

.menu_nav  a{
    text-decoration: none;
    color: black;
    margin-left: 22px;
    font-family:'Times New Roman', Times, serif;
}

.menu_nav a:hover {
    border-bottom: solid 1px black;

}

.header h1::first-letter { 
    color:#FD5F44;
}


@media (min-width: 1250px) and (max-width: 1455px) {
    .menu_nav {
        display: none;
    }

    .hamburger-menu {
        visibility: visible;
    }
}


@media (min-width: 1027px) and (max-width: 1249px) {
    .hamburger-menu {
        visibility: visible;
    }

    .menu_nav {
        display: none;
    }
}

@media (min-width: 700px) and (max-width: 1026px) {
    .hamburger-menu {
        visibility: visible;
    }

    .menu_nav {
        display: none;
    }
}

@media (min-width: 350px) and (max-width: 699px) {

    
    .hamburger-menu {
        visibility: visible;
    }

    .header h1 {
        margin-left: 50%;
    }
    .menu_nav {
        display: none;
    }
}

